{% extends 'accounts/main.html' %}

{%block content%}
<br>
<br>


    <div class="container bg-muted" >
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-2" style="color: tomato;">
                
                <b>iAttendance</b>
            </h1>
            <p class="lead"><b>AI Driven HR Solution</b></p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="admin" role="button" style="background-color: dimgrey;">Admin Panel</a>
            <br>
        </div>
    </div>
{%endblock%}